.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgba(5, 0, 0, 0.753) 100%);
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.815) 0px 30px 60px -30px;
    padding:8px;

}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 90%;
    width: 100%;


    position: absolute;
    top: 0;
    padding: 20px;
    font-size: 19px;

}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-top: 20%;

}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(1, auto);
    list-style: none;
    text-align: center;
    width: 100%;

    height: 70%;


}

.nav-item {
    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}


.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: 10px;



}

.log-out {

    margin-top: 30%;
    padding: 15px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.log-out :hover {
    background-color: white;
    color: black;
    transition: all 0.2s ease-out;
    box-shadow: #fff;
}

.log-out:visited {
    color: white;
}

.nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
}