.statistics-container {
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 0, 0, 0.438); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.Data-catcher {
    width: 90%;
    height: 70%;
    /* background-color: rgb(167, 212, 5); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: red; */
}

.Data-wrapper {
    /* background-color: red; */
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.welcome-dashboard {
    width: 100%;
    height: 20%;
    background-color: transparent;
    border: 1px solid black;
    box-shadow: rgba(240, 46, 46, 0.4) 5px 5px, rgba(240, 46, 46, 0.3) 10px 10px, rgba(240, 46, 46, 0.2) 15px 15px, rgba(240, 46, 46, 0.1) 20px 20px, rgba(240, 46, 46, 0.05) 25px 25px;
    border-radius: 17px;
    max-width: 500px;
    color: black;
    padding: 28px;
    position: relative;
}

.fa-gauge {
    color: rgb(226, 101, 101);
}

.fa-xmark {
    color: red;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 33px;
    margin-top: 15px;
}

.Data-container {
    width: 300px;
    height: 200px;
    border-radius: 11px;
    -webkit-box-shadow: inset 50px 35px 50px -5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 50px 35px 50px -5px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;

}



.users-number {
    background-color: rgb(3, 93, 109);
    /* background-image: url(../../../public/imgs/user-background.jpg); */


}

.products-number {
    background-color: rgb(211, 4, 4);
    /* background-image: url(../../../public/imgs/food-cart.jpg); */
}

.categories-number {
    background-color: rgb(3, 143, 3);
    /* background-image: url(../../../public/imgs/categories.jpg); */
}

.Data-container>i {
    font-size: 35px;

}

.Data-container>h2 {
    margin-top: 5px;

}

/* img {
    height: 100%;
    width: auto
} */

@media screen and (max-width: 960px) { 
    .Data-wrapper {
           
            width: 100%;
            height: 100%;
            display: flex;   
            flex-direction: column;
            margin-top: 40px;
            padding: 15px;
    
        }
    .Data-container
        {
              width: 80%;
              margin-top: 15px;
              
        }
        .welcome-dashboard
        {
            height: 40%;
        }
}