.table-container {

    width: 80%;
    margin-left: 16%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

table,
th,
td {
    border: 1px solid rgba(128, 128, 128, 0.315);
    border-collapse: collapse;
    width: 888px;
    text-align: center;
    padding: 5px;
}

thead {
    background-color: rgb(196, 195, 195);
    height: 35px;
}

img {
    width: 100px;
    object-fit: fill;
}

.search {

    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 5px 10px 20px;
    text-indent: 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;
    width: 100%;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 3px 3px 3px 3px;
}

.pagination-container>button {
    width: 20px;
    height: 25px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: rgba(146, 146, 146, 0.466);
}

.pagination-container>button:hover {
    background-color: rgb(160, 159, 159);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-nav {
    width: 90%;
    height: 100px;
    display: flex;
    margin-bottom: 15px;
  
}

.table-nav-buttons-container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.search-div-container {

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gender-warper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.male-blue,
.female-pink {
    background-color: rgba(98, 154, 228, 0.411);
    width: max-content;
    padding: 5px;
    border: none;
    border-radius: 4px;
}

.female-pink {
    background-color: pink;
}

.delete-icon {
    color: red;
    font-size: 26px;
    cursor: pointer;
}