.user-table
{
    width: 90%;
   
}
.user-table-header
{
    background-color: rgb(255, 107, 107);
}

td
{
    border: 1px solid black;
    padding: 5px;
    text-align: center;

}

img
{
    width: 120px;
}