@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";

}



.LogIn-page {
  background-image: url("../public/imgs/login-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}



.Products-page,
.User-page,
.Categories-page,
.DashBoard,
.Pos-page {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}


.Pos-page
{
  height: 114vh;
}