* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.LogIn-page,
.DashBoard,
.user-page,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.LogIn-page {
  background-image: url("../public/imgs/login-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;

}

.DashBoard {

  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  /* font-size: 100px; */

  height: 100vh;
}

.sign-up {

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}